.navbar{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: rgb(19, 104, 125);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
.siteLogo{
    height: 80px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 0px;
}
.siteLogo1{
    height: 80px;
    width: 30%;
    margin-left: 10px;
    
}
.categories{
    display: flex;
    width:40%;
    justify-content: space-between;
}
.cartLogo{
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
}
.cartLogo1{
    width: 20%;
}