.component{
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    gap: 10px;
    width: 400px;
    margin: auto;
}

.image{
  height: 110px;
  width:110px;
  border-radius: 50%;
  margin: auto;
}
.imageContainer{
    margin-top:1%;
    margin-bottom: 1%;
}
.details{
    line-height: 15px;
}
.phoneNumber:hover{
    cursor: pointer;
}