.container{
    display:grid;
    grid-template-columns: repeat(5,18%);
    grid-template-rows: repeat(2,400px);
    /* height: 400px; */
    width: 90%;
    gap:20px;
    margin: auto;
    justify-content: space-around;
}
.card{
    height: 400px;
    border: 1px solid black;
    line-height: 5px;
}
.container_pic{
    width: 100%;
    height: 70%;
}
.offerLogo{
   width: 96%;
   height: 200px;
   margin-top: 10px;
   margin-bottom: 10px;
}